## Factorial Challenge

The factorial function gives the number of possible arrangements of a set of items of length "n"

For example, there are 4! ("four factorial") or 24 ways to arrange four items, which can be calculated as: 
4 \* 3 \* 2 \* 1

5! = 5 \* 4 \* 3 \* 2 \* 1 = 120

6! = 6 \* 5 \* 4 \* 3 \* 2 \* 1 = 720

etc.

In a set of 0 items (an empty set) there is only one way to arrange the items, therefore, 0! = 1

For the purposes of this exercise, factorials are only defined for **positive integers** (including 0)

### Challenge Hints!

**HINT 1:** You can figure out whether a variable is of a certain type in the following way:

In [85]:
myVar = 1

if type(myVar) == int:
    print('myVar is an integer!')

if type(myVar) != int:
    print('myVar is NOT an integer!')

myVar is an integer!

**HINT 2:** You can create a while loop and manipulate multiple variables inside of it:

In [86]:
# This prints the sum of all of the numbers from 1 to 10
i = 0
s = 0
while i < 11:
    i = i + 1
    s = s + i

s

66

**HINT 3:** Alternatively, a function can call itself! This is called "recursion" This also returns the sum of all numbers from 0 to 10:

In [167]:
def addNumbers(i):
    if i == 0:
        return 0
    return i + addNumbers(i - 1)
        
addNumbers(10)

55

In [196]:
def factorial(n):
    print(f"factorial() called with n = {n}")
    return_value = 1 if n <= 1 else n * factorial(n - 1)
    print(f"-> factorial({n}) returns {return_value}")
    return return_value



factorial(40)

factorial() called with n = 40
factorial() called with n = 39
factorial() called with n = 38
factorial() called with n = 37
factorial() called with n = 36
factorial() called with n = 35
factorial() called with n = 34
factorial() called with n = 33
factorial() called with n = 32
factorial() called with n = 31
factorial() called with n = 30
factorial() called with n = 29
factorial() called with n = 28
factorial() called with n = 27
factorial() called with n = 26
factorial() called with n = 25
factorial() called with n = 24
factorial() called with n = 23
factorial() called with n = 22
factorial() called with n = 21
factorial() called with n = 20
factorial() called with n = 19
factorial() called with n = 18
factorial() called with n = 17
factorial() called with n = 16
factorial() called with n = 15
factorial() called with n = 14
factorial() called with n = 13
factorial() called with n = 12
factorial() called with n = 11
factorial() called with n = 10
factorial() called with n = 9
factorial() called with n = 8
factorial() called with n = 7
factorial() called with n = 6
factorial() called with n = 5
factorial() called with n = 4
factorial() called with n = 3
factorial() called with n = 2
factorial() called with n = 1
-> factorial(1) returns 1
-> factorial(2) returns 2
-> factorial(3) returns 6
-> factorial(4) returns 24
-> factorial(5) returns 120
-> factorial(6) returns 720
-> factorial(7) returns 5040
-> factorial(8) returns 40320
-> factorial(9) returns 362880
-> factorial(10) returns 3628800
-> factorial(11) returns 39916800
-> factorial(12) returns 479001600
-> factorial(13) returns 6227020800
-> factorial(14) returns 87178291200
-> factorial(15) returns 1307674368000
-> factorial(16) returns 20922789888000
-> factorial(17) returns 355687428096000
-> factorial(18) returns 6402373705728000
-> factorial(19) returns 121645100408832000
-> factorial(20) returns 2432902008176640000
-> factorial(21) returns 51090942171709440000
-> factorial(22) returns 1124000727777607680000
-> factorial(23) returns 25852016738884976640000
-> factorial(24) returns 620448401733239439360000
-> factorial(25) returns 15511210043330985984000000
-> factorial(26) returns 403291461126605635584000000
-> factorial(27) returns 10888869450418352160768000000
-> factorial(28) returns 304888344611713860501504000000
-> factorial(29) returns 8841761993739701954543616000000
-> factorial(30) returns 265252859812191058636308480000000
-> factorial(31) returns 8222838654177922817725562880000000
-> factorial(32) returns 263130836933693530167218012160000000
-> factorial(33) returns 8683317618811886495518194401280000000
-> factorial(34) returns 295232799039604140847618609643520000000
-> factorial(35) returns 10333147966386144929666651337523200000000
-> factorial(36) returns 371993326789901217467999448150835200000000
-> factorial(37) returns 13763753091226345046315979581580902400000000
-> factorial(38) returns 523022617466601111760007224100074291200000000
-> factorial(39) returns 20397882081197443358640281739902897356800000000
-> factorial(40) returns 815915283247897734345611269596115894272000000000

815915283247897734345611269596115894272000000000

In [197]:
# Returns the value of the factorial of num if it is defined, otherwise, returns None
def factorial(num):
    pass

In [198]:
factorial(5)

In [199]:
factorial(0)

In [200]:
factorial(-2)

In [201]:
factorial(1.2)

In [202]:
factorial('spam spam spam spam spam spam')